.password-validation {
  position: absolute;
  bottom: 75px;
  padding: 10px 20px;
  background-color: #fff;
  border: 2px solid #4547EA;
  border-radius: 10px;

  &--dark {
    border-color: #fff;
    background-color: #303747; 
  }

  &__requirement {
    font-family: 'Montserrat', sans-serif;

    &--dark {
      color: #fff; 
    }
  }
}

@media (max-width: 1100px) {
  .password-validation {
    bottom: 65px;

    &__requirement {
      font-size: 13px;
    }
  }
}