.todo {
  padding: 11px 20px ;
  width: 100%;
  border: 1px solid #4042E2;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  &--dark {
    border: 1px solid #fff;
  }

  &__title {
    color: #4042E2;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;

    &--dark {
      color: #fff;
    }
  }

  &__buttons {
    display: flex;
    gap: 15px;
    
    * {
      cursor: pointer;
    }
  }
}

@media (max-width: 1100px) {
  .todo {
    padding: 13px 10px;

    &__title {
      font-size: 13px;
    }
  }
}