input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.App {
  height: 100%;
  transition: background-color 0.3s ease-in-out;
  
  &--dark {
    background-color: #303747;
  }
  
  @media (max-width: 1100px) {
    background-image: url(./modules/Registration/assets/registration-bg-mobile-light.png);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: 90% 0;
    
    &--dark {
      background-image: url(./modules/Registration/assets/registration-bg-mobile-dark.png);;
    }

    &--authed {
      background-image: none;
    }
  }
}