.icon-settings {
  fill: #4748EE;
  transition: fill 0.3s ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;

  &--dark {
    fill: #E8EEFE;
  }

  &:hover {
    transform: rotate(120deg);
  }
}